html{
   background: linear-gradient(lightblue,orange);
   height: auto;
   }
body, main {
    margin: 0;
}
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;    
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: linear-gradient(lightblue,orange);
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
    border: 2px solid white;
}
header {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 2%;
    align-items: flex-end;

}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    flex-wrap: wrap;
    margin: 0 auto;
}

main {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2%;
}
section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-wrap: wrap;
    
}
    .LadoA {
        display: flex;
        position: relative;
        }

        .Ingreso-txt{
            height: 450px;
            border: none;
            opacity: 70%;
            color: #000000;
            font-weight: bold;
            padding: 20px;
            text-transform: lowercase;
        }
        ::placeholder {
            font-style: italic; 
            font-weight: bold; 
        }
        .Ingreso-txt:focus {
            outline: none;}
        
        .SubA{
            align-items: center;
            position: relative;
            width: 100%;
            margin: 2% auto 0 auto;
            }
        .info {
            margin: 10px 0;
            color: #32383f;
            font-size:14px;
            font-weight: bold;
        }
        .info:before {
            content: "►";
        }
        .botones{
            display: flex;
            margin-top: 10px;
            justify-content: space-evenly;
        }
            
        .btn-Desencriptar, .btn-Encriptar {
            background: lightgoldenrodyellow;
            border: 1px solid orangered;
            border-radius: 20px;
            color: orangered;
            box-shadow: 5px 5px 5px;
            cursor: pointer;
            height: 50px;
            width: 230px;
            font-weight: bold;
        }
        .btn-Desencriptar {
            margin-left: 30px;
        }

    .LadoB {
     display: flex;
     position: relative;     
     }
        .Salida-txt{
            height: 560px;
            background: white;
            background-image: url("Images/Lupa.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            border: none;
            border-radius: 24px;
            color: #000000;
            padding: 20px;
        }
        .Salida-txt:focus {
            outline: none;
        }

        .MensajeCuadro{
            text-align: center;
            flex-wrap: wrap;
            position: absolute;
            width: 100%;
            margin-top: 30px;
            }
        
            .Titulo_msj {
                font-weight: bold;
                color: rgb(20, 108, 180);
                font-size: large;
                margin-bottom: auto;
            }
            .mensaje {
                color: rgb(20, 108, 180);
                font-size: medium;
                margin-top: 0;
            } 
        
        .copiar {
            align-self: center;
            border: 1px solid steelblue;
            border-radius: 24px;
            color: steelblue;
            font-weight: bold;
            cursor: pointer;
            height: 55px;
            margin: 135% 5% 0 5%;
            position: absolute;
            width: 90%;
            box-shadow: 5px 5px 5px;
        }
        
    footer{
        text-align: center;
        margin-top: 50px;
        flex-wrap: wrap;
        }

    .Autor {
        font-weight: bold;
        font-style: italic;
        color: aliceblue;
        font-size: x-large;
        margin-bottom: auto;
    }
    .Txt {
        font-weight: bold;
        color: aliceblue;
        font-size: large;
        margin-top: 0;
    }

@media (max-width: 955px) {
    * {
        font-size: 20px;
    }
    body {
        display: flex;
    }
    header {
        margin: 1%;
        width: 100%;
    }
    .logo {
        margin: 3% auto 2%;
    }
    main {
        flex-direction: column;
    }
    .Ingreso-txt {
        height: 350px;
    }
    .Salida-txt {
        height: 250px;
        background-size: 25%;
        background-position-y: bottom;;
    }
    .MensajeCuadro {
        margin-top: 10px;
    }
    .copiar {
        margin: 220px 5% 0;
    }
    footer{
        margin-top: autos;
        }
}

@media (max-width: 414px) {
    * {
        font-size: 18px;
    }
    section {
        margin: 10px;
    }
    .Ingreso-txt {
        height: 200px;
        width: 90%;
    }
    .Salida-txt{
    background-image: none;
    height: 100px;
    width: 90%;
    }
    .MensajeCuadro {
        margin-top: 15px;
    }
    .Titulo_msj {
        font-size: medium;
    }
    .Autor{
        font-size: large;
    }
    .Txt {
        font-size: medium;
    }
    .copiar {
        margin: 100px 5% 0;
        height: auto;
    }
}